{% extends 'base.html'%}
{% block title %}Rolsa Technologies{% endblock %}
{% block content%}

<header>
    <h1 class="paragraph1">Welcome to Rolsa Technologies</h1>
    <h3 class="paragraph2">Home Page</h3>
    <nav>
        <ul>
            {%if current_user.is_authenticated%}
            <li><a  class="nav-link" href="{{url_for('logout')}}">Logout</a></li>

            {%else%}
            <li><a class="nav-link" href="{{url_for('registration')}}">Register</a></li>
            {%endif%}
        </ul>
    </nav>
</header>

<main>
    {%if current_user.is_authenticated%}
    <h3 class="welcome-text">Hello {{current_user.name}}, Welcome Back!</h3>
    <h4>This is an extra welcome text</h4>
    {%else%}
    <h3 class="welcome-text">Hello Guest, Welcome!</h3>
    {%endif%}
    <p id="home_page_write_up">At Rolsa Technologies, we bring reliable and innovative technical solutions to
        individuals and businesses of all sizes.<br>
        Our mission is to simplify technology so that it works seamlessly for you, whether you need help with system
        setup, ongoing maintenance, troubleshooting, or expert guidance.<br>

        With a focus on efficiency, security, and customer satisfaction, we provide tailored solutions that meet your
        unique needs.
        Our team of experienced professionals is committed to delivering fast, dependable support and keeping your
        technology running smoothly.<br>

        Explore our services to discover how we can enhance your digital environment, protect your systems, and help
        your business or personal projects thrive.
        At Rolsa Technologies, we do not just solve problems, we create opportunities for you to focus on what matters
        most, confident that your technology is in good hands.</p>

</main>
{% endblock %}